.menu-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  color: #FFFFFF;
  z-index: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1100px;
  margin: auto;
  padding: 20px 0;
}

.menu-logo {
  line-height: 0;
}

.menu-logo img {
  max-height: 120px;
  max-width: 150px;
}

.menu-container a {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  opacity: .8;
}

.menu-container a:hover {
  color: #646464;
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #FFFFFF;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu-container span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(3px, -1px);
          transform: rotate(45deg) translate(3px, -1px);
  background: #white;
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(-5px, 11px);
          transform: rotate(-45deg) translate(-5px, 11px);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

/* mobile styles */
@media only screen and (max-width: 768px) {
  .menu-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .menu-logo {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .menu-logo img {
    max-height: 50px;
  }
  .menu {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 300px;
    right: -350px;
    top: 0;
    margin: -20px;
    padding: 75px 50px 50px;
    background: #333399;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .menu-container input:checked ~ .menu {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

/* desktop styles */
@media only screen and (min-width: 769px) {
  .menu-container {
    max-width: 1100px;
  }
  .menu-container a {
    color: #FFFFFF;
    font-weight: 700;
  }
  .menu-container input {
    display: none;
  }
  /* Burger menu */
  .menu-container span {
    display: none;
  }
  .menu {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .menu li {
    padding: 0 20px;
  }
}
/*# sourceMappingURL=nav.css.map */